{% if block.settings.title != blank %}
  <div class="container page-block__header">
    <div class="SectionHeader SectionHeader--center">
      <h2 class="SectionHeader__Heading Heading u-h2">
        {{ block.settings.title }}
      </h2>
    </div>
  </div>
{% endif %}

<div class="PageContent PageContent--narrow">
  <div class="Rte">

    {%- form 'contact', class: 'Form Form--spacingTight' -%}
      {%- if form.posted_successfully? -%}
        <p class="Alert Alert--success">{{ 'contact.form.successfully_sent' | t }}</p>
      {%- endif -%}

      {%- if form.errors -%}
        <div class="Form__Alert Alert Alert--error">
          <ul class="Alert__ErrorList">
            {%- for field in form.errors -%}
              {%- if field == 'form' -%}
                <li class="Alert__ErrorItem">{{ form.errors.messages[field] }}</li>
              {%- else -%}
                <li class="Alert__ErrorItem"><strong>{{ form.errors.translated_fields[field] }}</strong> {{ form.errors.messages[field] }}</li>
              {%- endif -%}
            {%- endfor -%}
          </ul>
        </div>
      {%- endif -%}

      <div class="Form__Group">
        <div class="Form__Item">
          <input type="text" class="Form__Input" name="contact[name]" aria-label="{{ 'contact.form.name' | t }}" placeholder="{{ 'contact.form.name' | t }}" required {% if customer %}value="{{ customer.name }}"{% endif %}>
          <label class="Form__FloatingLabel">{{ 'contact.form.name' | t }}</label>
        </div>

        <div class="Form__Item">
          <input type="email" class="Form__Input" name="contact[email]" aria-label="{{ 'contact.form.email' | t }}" placeholder="{{ 'contact.form.email' | t }}" required {% if customer %}value="{{ customer.email }}"{% endif %}>
          <label class="Form__FloatingLabel">{{ 'contact.form.email' | t }}</label>
        </div>
      </div>

      <div class="Form__Item">
        <textarea name="contact[body]" cols="30" rows="10" class="Form__Textarea" aria-label="{{ 'contact.form.message' | t }}" placeholder="{{ 'contact.form.message' | t }}" required></textarea>
        <label class="Form__FloatingLabel">{{ 'contact.form.message' | t }}</label>
      </div>

      <button type="submit" class="Form__Submit Button Button--primary Button--full">{{ 'contact.form.submit' | t }}</button>
    {%- endform -%}
  </div>
</div>
