<div class="container--frontpage FeaturedCollection__TopBorder">
    <h3 class="SectionHeader__SubHeading Heading SubHeading__Collection u-h6 SectionHeader__SubHeading--text-start">{{ section.settings.Headlie | escape }}</h3>

    <div
            class="BeforeAndAfter"
    >
        <div id="comparison">
            <figure style="background-image: url({{ section.settings.before }});">
                <div
                        id="divisor"
                        style="background-image: url({{ section.settings.after }});"
                ></div>
            </figure>
            <input
                    type="range"
                    min="0"
                    max="100"
                    value="50"
                    id="slider"
                    oninput="moveDivisor()"
            >
        </div>
        <div id="textBeforeAfter">
            <p>{{ section.settings.FirstText }}</p>
            <p>{{ section.settings.SecondText }}</p>
            <a
                    href="{{ section.settings.button_1_link }}"
                    class="ButtonGroup__Item Button"
            >{{ section.settings.button_1_text | escape }}
                <span class="Button__Arrow">{%- render 'icon' with 'arrow_button' -%}</span>
            </a>
        </div>
    </div>
</div>
{% schema %}
{
"name": "Before and after",
"settings": [
{
"type": "text",
"id": "Headlie",
"label": "Headline"
},
{
"type": "text",
"id": "FirstText",
"label": "First text"
},
{
"type": "text",
"id": "SecondText",
"label": "Second text"
},
{
"type": "text",
"id": "before",
"label": "Before Image"
},
{
"type": "text",
"id": "after",
"label": "After Image"
},
{
"type": "text",
"id": "button_1_text",
"label": "Button text"
},
{
"type": "text",
"id": "button_1_link",
"label": "Button link"
}
],
"presets": [
{
"name": "Before and after",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
