<div
        class="HeroVideoTextButtons"
>
    <div
            class="hero-text"
    >
        {% if section.settings.subtitle != blank %}
            <p class="Heading u-h5 text--subdued">{{ section.settings.subtitle }}</p>
        {% endif %}
        {% if section.settings.firstRow != blank %}
            <h2 class="SectionHeader__Heading Heading u-h1">
                {{ section.settings.titleUpper }}
            </h2>
        {% endif %}
        {% if section.settings.secondRow != blank %}
            <h2 class="SectionHeader__Heading Heading u-h1">
                {{ section.settings.titleLower }}
            </h2>
        {% endif %}
        {% if section.settings.thirdRow != blank %}
            <h2 class="SectionHeader__Heading Heading u-h1">
                {{ section.settings.titleLower }}
            </h2>
        {% endif %}
        {%- if section.settings.button_1_text != blank -%}
            <a
                    href="{{ section.settings.button_1_link }}"
                    class="ButtonGroup__Item Button"
            >{{ section.settings.button_1_text | escape }}
                <span class="Button__Arrow">{%- render 'icon' with 'arrow_button' -%}</span>
            </a>
        {%- endif -%}
    </div>
    <div class="overlay"></div>
    <video
            autoplay
            muted
            loop
    >
        <source
                src="https://cdn.shopify.com/videos/c/o/v/4ddb212e12a849d68ff9d6c9bbc4ddd2.mp4"
                type="video/mp4"
        >
        Your browser does not support the video tag.
    </video>
</div>
{% schema %}
{
"name": "Hero video",
"settings": [
{
"type": "text",
"id": "subtitle",
"label": "Subtitle"
},
{
"type": "text",
"id": "firstRow",
"label": "First Title",
"default": "First text"
},
{
"type": "text",
"id": "secondRow",
"label": "Second Title",
"default": "Second text"
},
{
"type": "text",
"id": "thirdRow",
"label": "Third Title",
"default": "Third text"
},
{
"type": "text",
"id": "button_1_text",
"label": "Button 1 Title",
"default": "Button 1"
},
{
"type": "text",
"id": "button_1_link",
"label": "Button 1 link",
"default": "#"
}
],
"presets": [
{
"name": "Hero video",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
