<div class="container--frontpage FeaturedCollection__TopBorder">
    <h3 class="SectionHeader__SubHeading Heading SubHeading__Collection u-h6 SectionHeader__SubHeading--text-start">{{ section.settings.headline | escape }}</h3>

    <div
            class="BeforeAndAfter"
    >
       <div class="comparisonBox">
            <div id="comparison">
                <figure>
                    <div
                            id="divisor"
                            style="background-image: url({{ section.settings.image }});"
                    ></div>
                </figure>
            </div>
        </div>
        <div id="textBeforeAfter">
            <p>{{ section.settings.FirstText }}</p>
            <a
                    href="{{ section.settings.button_1_link }}"
                    class="ButtonGroup__Item Button"
            >{{ section.settings.button_1_text | escape }}
                <span class="Button__Arrow">{%- render 'icon' with 'arrow_button' -%}</span>
            </a>
        </div>
       
    </div>
</div>
{% schema %}
{
"name": "Photo text button",
"settings": [
{
"type": "text",
"id": "headline",
"label": "Headline"
},
{
"type": "text",
"id": "FirstText",
"label": "Text"
},
{
"type": "text",
"id": "image",
"label": "Image"
},
{
"type": "text",
"id": "button_1_text",
"label": "Button text"
},
{
"type": "text",
"id": "button_1_link",
"label": "Button link"
}
],
"presets": [
{
"name": "Photo text button",
"category": "ADVANCED LAYOUT"
}
]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}

{% endjavascript %}
